name: "build"
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        java: [ '14' ]
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: actions/setup-java@v3.3.0
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - name: Run docker
        run: |
          cd COOL
          chmod +x *.sh
          ./init.sh
          ./build.sh
          ./download.sh
          ./start.sh
      - name: Build
        run: |
          cd COOL
          chmod +x ./gradlew
          ./gradlew --stacktrace --scan
      - name: Stop docker
        run: |
          cd COOL
          ./stop.sh
